title = "Account"
url = "/account/"
layout = "default"
description = "Sign in, registration and account management."
is_hidden = 0
 
paramCode = "code"
forceSecure = 0
==
<div id="main">
    <div class="container">
        <div class="row">
            <div class="text-center">
                {% if user %}
                <h2>Account Details</h2>
                {% else %}
                <h2>User Login/Registration</h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% flash %}
                <p><div class="alert alert-{{ type == 'error' ? 'danger' : 'success' }}">{{ message }}</div></p>
            {% endflash %}
        </div>
        {% component 'account' %}
        {% if not user %}
        <div class="row">
            <p><a href="{{ 'reset-password'|page }}">Forgotten your password?</a></p>
        </div>
        {% endif %}
        
    </div><!-- /.container -->
</div>